beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
comtypes==1.1.10
idna==2.10
itsdangerous==2.0.1
MouseInfo==0.1.3
Pillow==8.2.0
PyAudio @ file:///C:/Users/mohit/Downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
pyjokes==0.6.0
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.27
pyspeedtest==1.2.7
pyttsx3==2.90
PyTweening==1.0.3
pywhatkit==4.7
pywikihow==0.5.7
pywin32==301
requests==2.25.1
requests-cache==0.6.4
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
speedtest-cli==2.1.3
url-normalize==1.4.3
urllib3==1.26.5
wikipedia==1.4.0
